.virtual-keyboard {
    background: #e2e5e8;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    user-select: none;
    padding: .5rem;
}

.virtual-keyboard .key {
    display: inline-block;
    vertical-align: bottom;
    background-color: rgb(250, 250, 250);
    border-width: 0 0 .2rem 0;
    border-style: none none solid none;
    border-radius: .3rem;
    border-color: #aaa;
    text-align: center;
    color: #aaa;
    box-shadow: 0 0 5px 0 #aaa;
    margin: .2rem;
    padding: .3rem 1rem;
    line-height: 1.3rem;
    cursor: pointer;
    user-select: none;
}

.virtual-keyboard .key:active {
    margin-top: .4rem;
    border-bottom-width: 0;
    background-color: rgb(245, 245, 245);
}